<mat-toolbar>
  <div class="logo"> 
    <img src="assets/img/logo.png" alt="Logo" />
  </div>
  
  <span class="spacer"></span>

  <nav class="links">
    <a mat-button routerLink="/about">Qui sommes-nous?</a>
    <a mat-button routerLink="/actions">Nos actions</a>
    <a mat-button routerLink="/join">Agir avec nous</a>
  </nav>

  <div class="buttons">
    <button mat-button [color]="'white'" class="don-button">Faire un Don</button>
    <button mat-button class="don-button-alt">Faire un Don</button>
  </div>
</mat-toolbar>
