<footer class="footer">
    <div class="container">
     
      <div class="logo">
        <img src="assets/img/assos.png" alt="Logo" />
      </div>
  
      
      <div class="footer-liens">
        <ul>
          <li><a href="#">Faire un don</a></li>
          <li><a href="#">Nos Actions</a></li>
          <li><a href="#">Qui sommes-nous?</a></li>
          <li><a href="#">Actualités</a></li>
        </ul>
      </div>
  
      
      <div class="buttons">
        <button mat-button [color]="'white'" class="don-button">Faire un Don</button>
        <button mat-button class="don-button-alt">Faire un Don</button>
      </div>
    </div>
  
   
    <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
    </div>    
    <div>
      <p>© 2023 Comme Un Rêve. Tous droits réservés.</p>
    </div>
  </footer>
  
 
  