<!-- <h1>Le paiement à échoué </h1>
<a [routerLink]="['/donation-forms']" routerLinkActive="router-link-active" >Veuillez réssayer</a>
<p>Popo</p>   -->
<!-- payment confirmation -->
<div class="confirmation-container">
    <div class="confirmation-content">
      <div class="icon">
        <br>
        
      </div>
      <h1>Le paiement à échoué </h1>
      <p>Malheureusement, nous n'avons pas pu traiter votre paiement.</p>
    <a [routerLink]="['/donation-forms']" routerLinkActive="router-link-active" class="dashboard-button">Réessayer</a>

      </div>
  </div>
  


