mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 5rem;
  padding-top: 2rem;
}

.logo img {
  height: 100px !important;
  margin-top: 25px;
  width: 191px;
  line-height: 45px;
}

.spacer {
  flex: 1;
}

nav.links {
  display: flex;
  align-items: center;
}

nav.links a {
  margin: 0 1px; /* espace entre lien */
  font-family: 'jakarta medium';
  font-size: 16px;
  text-decoration: none; /* supprimer soulignement */
  align-items: center;
}

nav.links a:hover {
  color: #ef20a9; /* couleur au survol */
}

.buttons {
  display: flex;

  gap: 10px; /* espace entre boutons */
}

.don-button,
.don-button-alt,
.don-button-alts {
  padding: 6px 35px; /* taille du bouton */
  border-radius: 10px; /* arrondi du bouton */
  font-weight: 300px;
}

.don-button:hover,
.don-button-alt:hover,
.don-button-alts:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* ombre légère au survol */
  transform: translateY(-2px); /* légère élévation au survol */
}

.don-button {
  background-color: #ef20a9;
}
.don-button-alt {
  background-color: #efc71d;
}
.don-button-alts {
  background-color: #2b5896;
}
.don-button.mat-mdc-button:not(:disabled) {
  color: #ffffff;
}
.don-button-alt.mat-mdc-button:not(:disabled) {
  color: #2b5896;
}
.don-button-alts.mat-mdc-button:not(:disabled) {
  color: #ffffff;
}

@media (max-width: 768px) {
  .logo img {
    height: 80px;
    width: auto;
  }
  nav.links {
    display: none;
  }
  .buttons {
    flex-direction: row;
    font-size: small;
  }
  .don-button,
  .don-button-alt,
  .don-button-alts {
    padding: 6px 10px;
  }
  mat-toolbar .buttons button[mat-button] {
    font-size: 8px;
  }
}
@media (min-width: 768px) {
  .logo img {
    height: 80px;
    width: auto;
  }
  nav.links {
    display: flex;
  }
  .buttons {
    flex-direction: row;
    font-size: small;
  }
  .don-button,
  .don-button-alt,
  .don-button-alts {
    padding: 6px 10px;
  }
  mat-toolbar .buttons button[mat-button] {
    font-size: 8px;
  }
  nav.links a {
    margin: 0 1px;
    font-family: 'jakarta medium';
    font-size: 10px;
    text-decoration: none; /* supprimer soulignement */
    align-items: center;
  }
}
