<mat-toolbar>
  <a routerLink="/">
      <div class="logo"> 
    <img src="assets/img/logo.png" alt="Logo" />
  </div>
  </a>

  
  <span class="spacer"></span>

  <nav class="links">
    <a mat-button routerLink="/qui-sommes-nous">Qui sommes-nous?</a>
    <!-- <a mat-button (click)="naviguer()">Qui sommes-nous?</a> -->
    <a mat-button routerLink="/nos-actions">Nos actions</a>
    <a mat-button routerLink="/agir-avec-nous">Agir avec nous</a>
  </nav>

  <div class="buttons">
    <button mat-button [color]="'white'" class="don-button">Faire un Don</button>
    <button mat-button class="don-button-alt">Devenir bénévole</button>
  </div>
</mat-toolbar>