<div class="blog-section">
    <h2 class="titre">{{'Le coeur de notre missions' | uppercase}}</h2>
    <div class="articles-container">
      <!-- les 4blog  -->
      <mat-card class="article-card">
        <img mat-card-image src="assets/img/bbvv.png" alt="Veuves">
        <mat-card-content>
          <h3> Veuves</h3>
        </mat-card-content>
      </mat-card>
      
     
      <mat-card class="article-card">
        <img mat-card-image src="assets/img/bbvv.png" alt="Orphelins">
        <mat-card-content>
          <h3> Orphelins</h3>
        </mat-card-content>
      </mat-card>
  
      
      <mat-card class="article-card">
        <img mat-card-image src="assets/img/bbvv.png" alt="Prisoniers">
        <mat-card-content>
          <h3>Prisoniers</h3>
        </mat-card-content>
      </mat-card>
  
      
      
    </div>
  </div>
  