<div class="all">
    <h2 class="titre">{{'Le coeur de notre missions' | uppercase}}</h2>

    <div class="section"  >
      <!-- les 4blog  -->
      <a [routerLink]="['/nos-actions']">
      <div class="espace">
        <img div-image src="assets/img/bbvv.png" class="image_home">        
          <h3> Les Veuves</h3>        
      </div>
    </a>
      
    <a [routerLink]="['/nos-actions']">

      <div class="espace">
        <img div-image src="assets/img/bbvv.png" class="image_home">
          <h3> Les Orphelins</h3>       
      </div>
    </a>
  
    <a [routerLink]="['/nos-actions']">
      <div class="espace">
        <img div-image src="assets/img/bbvv.png" class="image_home">       
          <h3>Les Prisoniers</h3>        
      </div>
    </a>
  
      
      
    </div>
  </div>
  