.all {
  display: flex; 
  flex-direction:column; 
  justify-content: center; 
  align-items: center; 
  max-width: 80rem; 
  margin: 20px auto; 
  padding: 20px 150px; 
}
.section{ padding-top: 48px; }

.espace{
  
  margin-bottom: 50px;
  &.last {
    margin-bottom: 10rem;
  }
}

h3{
  color: black;
  font-family: 'inter bold';
  text-align: left;
  font-size: 32px;
}
p{
  
  font-size: 16px;
  text-align: left;
  color: black;
}
@media (max-width: 480px) {
  .all { padding: 10px; }
}