<div class="all">
  <div class="title">
    <h1>QUI SOMMES-NOUS</h1>
  </div>

  <div class="section">
    <div class="espace">
      <h3>NOTRE HISTOIRE</h3>
      <p>
        L'association "Comme un Rêve" a vu le jour en 2015 avec l'ambition de transformer les rêves en réalité pour les
        enfants et les familles les plus vulnérables. Inspirée par l'esprit de solidarité et de partage, notre mission
        est de donner un sourire à ceux qui en ont le plus besoin. Depuis notre création, nous avons réussi à toucher
        des milliers de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des acteurs
        locaux. L'association "Comme un Rêve" a vu le jour en 2015 avec l'ambition de transformer les rêves en réalité
        pour les enfants et les familles les plus vulnérables. Inspirée par l'esprit de solidarité et de partage, notre
        mission est de donner un sourire à ceux
      </p>
    </div>

    <div class="espace">
      <h3>NOS VALEURS</h3>
      <p>
        Notre travail est guidé par des valeurs fondamentales telles que l'empathie, la générosité, et la transparence.
        Nous croyons en un monde où chacun mérite une chance égale de s'épanouir, peu importe son origine ou sa
        situation sociale. À travers toutes nos initiatives, nous veillons à rester fidèles à ces principes, en plaçant
        les bénéficiaires de nos actions au cœur de nos préoccupations.
      </p>
    </div>

    <div class="espace">
      <h3>NOTRE ORGANISATION</h3>
      <p>
        "Comme un Rêve" repose sur une équipe dévouée et engagée, composée de bénévoles passionnés, de partenaires
        locaux, et d'experts de terrain. Ensemble, nous travaillons main dans la main pour identifier les besoins,
        développer des projets concrets et durables, et assurer leur mise en œuvre avec efficacité et transparence.
        Chaque projet est rigoureusement suivi afin de garantir son succès et son impact sur le long terme.
      </p>
    </div>

    <div class="espace last">
      <h3>NOS BUTS</h3>
      <p>
        Nous avons pour objectif principal de créer un monde plus équitable où chacun peut rêver sans limites. Nos
        actions s'articulent autour de trois axes : l'accès à l'éducation, le soutien aux familles en difficulté, et
        l'amélioration des conditions de vie dans les zones défavorisées. À travers ces initiatives, nous cherchons à
        redonner de l'espoir et offrir des perspectives d'avenir aux personnes les plus fragiles.
      </p>
    </div>
  </div>
</div>
