.container {
  position: relative;
  padding: 20px;

  .image_home {
    width: 100%;
    border-radius: 58px 50px 50px 50px;
  }

  .text_home {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;

    #title {
      font-size: 64px;
      font-family: 'Jakarta bold';
    }

    #description {
      font-size: 24px;
      font-family: 'Jakarta regular';
    }
  }
}

@media only screen and (max-width: 768px) {
  .text_home {
    #title {
      font-size: 32px;
    }

    #description {
      font-size: 18px;
    }
  }

  .image_home {
    border-radius: 30px 25px 25px 25px;
  }
}

@media only screen and (max-width: 768px) {
  .container[_ngcontent-ng-c3487270872] .text_home[_ngcontent-ng-c3487270872] #title[_ngcontent-ng-c3487270872] {
    font-size: 28px;
    font-family: 'Jakarta bold';
  }

  .container[_ngcontent-ng-c3487270872] .text_home[_ngcontent-ng-c3487270872] #description[_ngcontent-ng-c3487270872] {
    font-size: 10px;
    font-family: 'Jakarta regular';
  }

  .image_home {
    border-radius: 30px 25px 25px 25px;
  }
  .container[_ngcontent-ng-c3487270872] {
    position: relative;
    padding: 10px;
  }
}
