.container {
  position: relative;
  padding: 20px;
  color:black;
  background-image: url("/assets/img/image_acceuil.png");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  height:400px;
  display: flex;
  flex-direction: column;
  color:white;
  justify-content: center;
  align-items: center;
  text-align: center;

  #title {
    color:white;
  }


  #description {
    font-size: 24px;
    font-family: 'Jakarta regular';
    margin:0;
  }

}



@media only screen and (max-width: 768px) {

  .container {
    width:90%;
    height:300px;

  p#description {
    font-size: 24px;
    font-family: 'Jakarta regular';
  }


  }

  .container[_ngcontent-ng-c3487270872] {
    position: relative;
    padding: 10px;
}
}