.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 80rem;
    margin: 20px auto;
    padding: 20px 150px;
    margin-bottom: 6rem;


    a {
        color: #EF20A9;

        &:hover {
            text-decoration: underline;
        }
    }

    strong {
        margin: 20px 0;
        font-weight: bold;
        color:#000;
    }

}


@media (max-width: 768px) {
    .container {
        padding: 15px;  
        margin-bottom: 2rem;

        strong {
            margin: 20px; 
        }
    }
}
