.container{
    justify-content: center;
    font-size: 16px;
    padding-bottom: 6rem;
    width: 50rem;
}
h2{
    font-size: 45px;
    font-family: bold;
    color: #00456c;
}
h1{
    color:#2B5896; 
    text-align: center;
    border-radius: 16px 16px 16px 16px;
    background-color: #EFC71D ;
    font-family: "inter bold" ;
    font-size: 31px ;
    width: 30rem;
    
}



a{
  color:  #EF20A9;  
}
strong{
    color: #00456c;
}

//  #EF20A9;  
//   #EFC71D;  
//    #2B5896;
  
  