<div class="container">
  <h2>Editeur et hébergeur</h2>
  <p>comme un rêve ©2024</p>

  <p>
    Ce site est édité par comme un rêve, association reconnue d’utilité publique déclarée, immatriculée sous le SIRET
    89740850600011. Créée en 23 février 2021 et domiciliée à 1 Rue Auguste Renoir 95140 Garges-lès-Gonesse,<br />
    elle est spécialisée dans le secteur d'activité de l'action sociale.
  </p>

  <p>Représentant légal :Godelive</p>
  <p>Adresse : 1 Rue Auguste Renoir 95140 Garges-lès-Gonesse</p>
  <p>Téléphone : 07 51 27 20 70</p>
  <p>Mail : <a href="mailto:commeunrve@gmail.com">commeunrvegmail.com</a></p>
  <p>SIRET : 897 408 506 00011</p>
  <p>Code APE : Action sociale sans hébergement n.c.a. (88.99B)</p>
  <p>Numéro TVA Intracommunautaire : FR78493029003</p>

  <h2>Hébergeur du site :</h2>
  <p>HaiSoft SARL</p>
  <p>Adresse: 7 rue Vieille Levée 45100 Orléans</p>
  <p>Téléphone : 02 38 52 58 11</p>

  <h2>Crédits</h2>
  <p>Directrice de la Publication : Godelive, Directrice Générale de comme un rêve</p>
  <p>Animation éditoriale du site : comme un rêve – Service communication</p>
  <p>Conception / réalisation : <a href="https://www.burdydigital.com/">burdydigital</a></p>
  <p>Développement : <a href="https://www.burdydigital.com/">burdydigital</a></p>
  <p>Crédits graphiques : ©burdy-goureige ©Jacques-Junior ©Ounissa-amri ©Jael-Taka</p>

  <h2>Propriété intellectuelle</h2>
  <p>
    L'intégralité du site
    <a href="https://www.helloasso.com/associations/association-comme-un-reve">Comme Un Rêve</a> est protégé par les
    législations françaises et internationales relatives à la propriété intellectuelle. Tous les droits de reproduction
    sont réservés, y compris pour les documents téléchargeables. L'ensemble des textes, graphismes, icônes,
    photographies, plans, logos, vidéos, sons, marques (…) et plus généralement l'ensemble des éléments composant le
    site
    <a href="https://www.helloasso.com/associations/association-comme-un-reve"
      >https://www.helloasso.com/associations/association-comme-un-reve</a
    >
    et le site lui-même ne peuvent, conformément à l'article L. 122-4 du Code de la Propriété Intellectuelle, faire
    l'objet d'une quelconque représentation ou reproduction, intégrale ou partielle, sur quelque support que ce soit,
    sans l'autorisation expresse et préalable de Comme Un Rêve.
  </p>

  <p>
    De même, il est strictement interdit d'utiliser ou de reproduire le nom " Comme Un Rêve " et/ou son logo ou sigle,
    seuls ou associés, à quelque titre que ce soit et sur quelque support que ce soit sans l'accord préalable et écrit
    de Comme Un Rêve. L'utilisation du contenu du site en contravention avec ces prescriptions vaut contrefaçon au sens
    de l'article 335-2 du Code de la Propriété Intellectuelle. Outre des dommages et intérêts au titre de la
    responsabilité civile, celle-ci peut être pénalement sanctionnée de 300 000 euros d'amende et/ou de 3 ans
    d'emprisonnement.
  </p>

  <p>
    Comme Un Rêve se réserve le droit d'engager des poursuites judiciaires à l'encontre de toute personne ne respectant
    pas ces interdictions.
  </p>

  <h2>Responsabilité de Comme Un Rêve</h2>
  <p>
    Il appartient à l’utilisateur de ce site de prendre toutes les mesures appropriées de façon à protéger ses propres
    données et/ou logiciels de la contamination par d’éventuels virus circulant sur le réseau Internet. De manière
    générale, Comme Un Rêve décline toute responsabilité à un éventuel dommage survenu pendant la consultation du
    présent site.
  </p>

  <p>
    Les messages que vous pouvez nous adresser transitant par un réseau ouvert de télécommunications, nous ne pouvons
    assurer leur confidentialité.
  </p>

  <p>
    Les informations communiquées sur le site
    <a href="https://www.helloasso.com/associations/association-comme-un-reve">www.comme-un-reve</a> sont fournies à
    titre indicatif.Comme Un Rêve se réserve le droit, à tout moment et sans préavis, d'apporter des améliorations et/ou
    modifications au contenu du site
    <a href="https://www.helloasso.com/associations/association-comme-un-reve"
      >https://www.helloasso.com/associations/association-comme-un-reve</a
    >. Comme Un Rêve peut interrompre l'accès au site, notamment pour des raisons de maintenance ou pour toutes autres
    raisons notamment techniques. Comme Un Rêve ne peut en aucun cas être tenue pour responsable de ces interruptions et
    des conséquences qui peuvent en découler pour l'utilisateur.
  </p>

  <strong>LA RESPONSABILITÉ DE Comme Un Rêve NE SAURAIT ÊTRE ENGAGÉE POUR :</strong>
  <ul>
    <li>
      Les dommages de toute nature, directs ou indirects, résultant de l'utilisation du site
      <a href="https://www.helloasso.com/associations/association-comme-un-reve">association-comme-un-reve</a> et
      notamment toute perte d'exploitation, perte financière ou commerciale, perte de programmes et/ou de données.
    </li>
    <li>
      Les dommages de toute nature, directs ou indirects, résultant du contenu et/ou de l'utilisation des sites Internet
      liés au ou auxquels les utilisateurs pourraient avoir accès via le site
      <a href="https://www.helloasso.com/associations/association-comme-un-reve"
        >https://www.helloasso.com/associations/association-comme-un-reve</a
      >, l'impossibilité d'accéder au site
      <a href="https://www.helloasso.com/associations/association-comme-un-reve">association-comme-un-reve</a> et/ou à
      l'un des sites Internet lui étant lié, les omissions et/ou erreurs que pourrait contenir le site
      <a href="https://www.helloasso.com/associations/association-comme-un-reve">association-comme-un-reve</a>.
    </li>
  </ul>

  <h2>Responsabilité des utilisateurs</h2>
  <p>
    L'utilisateur du présent site est responsable des dommages de toute nature, matériels ou immatériels, directs ou
    indirects, causés à tout tiers du fait de l'utilisation ou de l'exploitation illicite du site
    <a href="https://www.helloasso.com/associations/association-comme-un-reve"
      >https://www.helloasso.com/associations/association-comme-un-reve</a
    >
    même et/ou de l'un de ses éléments, quels que soient la cause et le lieu de survenance de ces dommages est aussi
    responsable envers Comme Un Rêve des conséquences des réclamations ou actions dont elle pourrait, de ce fait, faire
    l'objet.
  </p>

  <p>
    Comme Un Rêve se réserve le droit de refuser à tout utilisateur l'accès à tout ou partie du site, unilatéralement et
    sans notification préalable, notamment en cas de violation manifeste des présentes mentions légales.
  </p>

  <h2>Liens hypertextes</h2>
  <p>
    Les utilisateurs du site
    <a href="https://www.helloasso.com/associations/association-comme-un-reve"
      >https://www.helloasso.com/associations/association-comme-un-reve</a
    >
    ne peuvent mettre en place de liens hypertextes profond en direction du site susvisé sans l'autorisation expresse et
    préalable de Comme Un Rêve.
  </p>

  <p>
    Aussi, pour toute demande particulière de création de liens hypertextes en direction du site, merci de nous adresser
    un message via le formulaire Contact du site.
  </p>

  <h2>Reproduction de contenus</h2>
  <p>
    Les utilisateurs du site
    <a href="https://www.helloasso.com/associations/association-comme-un-reve"
      >https://www.helloasso.com/associations/association-comme-un-reve</a
    >
    ne peuvent reproduire de contenus (textes, photos, vidéos, sons, animations, etc.) sans l'autorisation expresse et
    préalable de Comme Un Rêve. Aussi, pour toute demande de reproduction d'éléments contenus dans le site
    <a href="https://www.helloasso.com/associations/association-comme-un-reve"
      >https://www.helloasso.com/associations/association-comme-un-reve</a
    >, merci de nous adresser un message.
  </p>

  <p>
    En tout état de cause Comme Un Rêve n’est en aucun cas tenue responsable du contenu ainsi que des produits ou
    services proposés sur les sites auxquels le site
    <a href="https://www.helloasso.com/associations/association-comme-un-reve"
      >https://www.helloasso.com/associations/association-comme-un-reve</a
    >
    se trouverait lié par des liens hypertextes ou tout autre type de lien.
  </p>

  <h2>Cookies</h2>
  <p>
    Le site https://www.helloasso.com/associations/association-comme-un-reve utilise des "cookies" pour mesurer
    l'activité de nos visiteurs sur le site et nous permettre ainsi de proposer une expérience toujours mieux adaptée à
    leurs attentes. En aucun cas une corrélation n´est faite entre ces cookies et des informations nominatives que
    pourrait détenir Comme Un Rêve. La durée de conservation des informations recueillies sur le terminal de tout
    internaute est de 2 ans.
  </p>
  <h2>Vos droits d’accès, de rectification et de suppression d’une donnée</h2>
  <p>
    Les informations recueillies par Comme Un Rêve sur ce site sont obligatoires pour l a prise en compte de vos
    demandes d’information, commandes et/ou inscription puis pour leur suivi par Comme Un Rêve et ses partenaires.
    Conformément à la loi CNIL « Informatique et Libertés » du 6 janvier 1978 modifiée et au Règlement Européen
    n°2016/679, vous pouvez vous opposer à l’utilisation de vos données à caractère personnel. Vous pouvez connaître et
    faire rectifier les données vous concernant, ou vous opposer pour motif légitime à leur traitement ultérieur, en
    adressant une demande écrite accompagnée d’une copie de votre pièce d’identité au Service Communication de Comme Un
    Rêve.
  </p>
</div>
