

<div class="summary-form">  
    <div>
        <mat-toolbar style="color: #f4f6f9; font-size:31px ;"> ❤ Mon récapitulatif</mat-toolbar>
    </div> 
    
    
    
    
  <div class="bloc">

    <div class="heart-icon">
      <mat-icon class="heart"> ❤ </mat-icon>
    </div>

  <div class="mandatory-fields">
    <div class="terms">
      <mat-checkbox>
        J'accepte les <a href="#">Conditions Générales d'Utilisation</a> du service et j'ai lu la <a href="#">charte de confidentialité</a>. *
      </mat-checkbox>
      
        * Champs obligatoires
    <mat-card>
      
        <div class="total">
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>Total</mat-grid-tile>
            <mat-grid-tile>{{ totalAmount }}€</mat-grid-tile>
          </mat-grid-list>
        </div>

    </mat-card>

      <div class="buttons">
        <button mat-button class="payers">Payer</button>
      </div>

      <div class="payment-security">
        <h3>Plateforme de paiement 100% sécurisée</h3>
        <p>Toutes les informations bancaires pour traiter ce paiement sont totalement sécurisées. Grâce au cryptage SSL de vos données bancaires, vous êtes assurés de la fiabilité de vos transactions sur HelloAsso.</p>
        <div class="payment-icons">
          <img src="assets/img/CB VISA.jpeg" alt="Visa">
          <img src="assets/img/CB MASTER.jpeg" alt="Mastercard">
          <img src="assets/img/CB.jpeg" alt="Carte Bancaire">
        </div>
      </div>
    </div>  
  </div>
</div>
  