 .headForm {
    border-radius: 8px 8px 8px 8px ;
      justify-content: center;
      border: 1px solid #EF20A9;
      background-color: #EF20A9 !important;
      color: white !important;
      font-family: "inter bold" !important;
      margin-bottom: 20px !important;
  }