.container_group {
  margin-bottom: 10px;
  mat-button-toggle-group {
    display: flex;
    gap: 10px;
    mat-button-toggle {
      border: 2px solid;
      font-family: 'inter semi bold';
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 10px;
      font-size: 13px;
      padding: 20px 0px;
    }
    mat-button-toggle.small {
      border: 55px solid;
      font-family: 'inter semi bold';
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 10px;
      font-size: 13px;
      padding: 18px 5px;
    }
  }

  .mat-button-toggle-standalone:not([class*='mat-elevation-z']),
  .mat-button-toggle-group:not([class*='mat-elevation-z']) {
    box-shadow: none !important;
  }
  .mat-pseudo-checkbox {
    //style pour check
    //  display: none !important;
  }
  .mat-button-toggle .mat-pseudo-checkbox {
    margin-right: 5px;
  }
}
