.all {
    padding: 140px 240px  0px;
    
    background-color: #ffffff;
    
  h1{
    color:black;
    text-align: center;
  }
    .section {
      margin-bottom: 50px;
  
      .image_home {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 1rem;
        color: #000000;
        line-height: 1.8;
        text-align: justify;
      }
    }
  
    /* Espacement entre les sections */
    .espace {
      margin-bottom: 60px;
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .all {
      padding: 20px;
  
      }
    }
  