<app-herosection [titre]="titreImage" [description]="descriptionImage"></app-herosection>
<div class="all">

    <div class="section">
      <div class="espace">
        <h2>Auprès des veuves</h2>
        <img src="./../../../assets/img/image_acceuil.png" class="image_home"/>
        <p>
          L'association "Comme un Rêve" a vu le jour en 2015 avec l'ambition de transformer 
          les rêves en réalité pour les enfants et les familles les plus vulnérables. Inspirée 
          par l'esprit de solidarité et de partage, notre mission est de donner un sourire à ceux 
          qui en ont le plus besoin. <br>Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
          les rêves en réalité pour les enfants et les familles les plus vulnérables. Inspirée 
          par l'esprit de solidarité et de partage, notre mission est de donner un sourire à ceux 
          qui en ont le plus besoin. <br>Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
        </p>
      </div>
        
      <div class="espace">
        <h2>Auprès des présonniers</h2>
        <img src="./../../../assets/img/image_acceuil.png" class="image_home"/>
        <p>
          Notre travail est guidé par des valeurs fondamentales telles que l'empathie, la générosité, 
          et la transparence. Nous croyons en un monde où chacun mérite une chance égale de s'épanouir,
           peu importe son origine ou sa situation sociale. À travers toutes nos initiatives,
            nous veillons à rester<br> fidèles à ces principes, en plaçant les bénéficiaires de nos actions 
            au cœur de nos préoccupations.
            Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions<br> concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
          les rêves en réalité pour les enfants et les familles les plus vulnérables. Inspirée 
          par l'esprit de solidarité et de partage, notre mission est de donner un sourire à ceux 
          qui en ont le plus besoin.<br>Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
        </p>
      </div>
      
      <div class="espace">
        <h2>Auprès des orphelins</h2>
        <img src="./../../../assets/img/image_acceuil.png" class="image_home"/>
        <p>
          "Comme un Rêve" repose sur une équipe dévouée et engagée, composée de bénévoles passionnés, 
          de partenaires locaux, et d'experts de terrain. Ensemble, nous travaillons main dans la main 
          pour identifier les besoins, développer des projets concrets et durables, et assurer leur mise
           en œuvre avec efficacité et transparence. Chaque projet est rigoureusement suivi afin de 
           garantir son succès et son impact sur le long terme.
           <br>Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
          les rêves en réalité pour les enfants et les familles les plus vulnérables. Inspirée 
          par l'esprit de solidarité et de partage, notre mission est de donner un sourire à ceux 
          qui en ont le plus besoin. <br>Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
        </p>
      </div>
      
    </div>
</div>
<app-donation-cta [titre]="titreParent" [text]="textParent" [button]="buttonParent"></app-donation-cta>
