<div class="donation-section">
    
    <h2>JE FAIS UN DON</h2>
    <p>
        En soutenant notre cause, vous contribuez à offrir des ressources vitales aux personnes dans le besoin.
         Vos dons permettent de financer des programmes essentiels pour améliorer la qualité de vie des veuves, orphelins et prisonniers.
          Chaque geste compte, et ensemble, nous pouvons faire la différence.
    </p>

    <div class="buttons">
    <button mat-button class="don-button">Faire un Don</button>
    </div>

</div>
