/* Section générale pour le blog */
.blog-section {
    text-align: center;
    margin: 40px auto;
    max-width: 1200px;
    padding: 0 15px;
  }
  
  .blog-section h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  
  /* Grille des articles avec flexbox */
  .articles-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Ajoute un espace uniforme entre les cartes */
  }
  
  /* Carte de chaque article */
  .article-card {
    width: 23%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .article-card:hover {
    transform: translateY(-10px); /* Animation légère au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Accentuer l'ombre au survol */
  }
  
  mat-card img {
    height: 200px;
    width: 100%;
    /* object-fit: cover; */
    border-radius: 10px 10px 10px 10px;
  }
  
  mat-card-content h3 {
    font-size: 15px;
    font-weight: 400;
    color: #333;
    
  }
  
  
  