<div class="blog-section">
  <h2 >ARTICLES DE BLOG  </h2>

    <div class="articles-container">
      <!-- les 4blog  -->
      <mat-card class="article-card">
        <img mat-card-image src="assets/img/bbvv.png" alt="Veuves">
        <mat-card-content>
          <h3>Articles de Blog Dédiés aux<br> Veuves</h3>
        </mat-card-content>
      </mat-card>
      
     
      <mat-card class="article-card">
        <img mat-card-image src="assets/img/bbvv.png" alt="Orphelins">
        <mat-card-content>
          <h3 >Articles de Blog Dédiés aux Orphelins</h3>
        </mat-card-content>
      </mat-card>
  
      
      <mat-card class="article-card">
        <img mat-card-image src="assets/img/bbvv.png" alt="Prisoniers">
        <mat-card-content>
          <h3>Articles de Blog Dédiés aux Prisoniers</h3>
        </mat-card-content>
      </mat-card>
  
      
      <mat-card class="article-card">
        <img mat-card-image src="assets/img/bbvv.png" alt="Association">
        <mat-card-content>
          <h3>Articles de Blog Dédiés à l'Association</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  