

<h1>Je fais un don pour soutenir Comme Un Rêve</h1>
    <div class="donation-container">

    <form [formGroup]="paymentForm">
        <!-- <pre>{{paymentForm.value | json }}</pre> -->
    <div class="donation-column">   
        <app-donation-form></app-donation-form>
    </div> 
    <div class="personal-info-column">
        <app-summary-form></app-summary-form>
    </div>
    <div class="summary-column">
        <app-personal-info-form></app-personal-info-form>
    </div>
    </form>

</div>