/* Style de la section de don */
.donation-section {
   
    text-align: center; 
    padding: 40px; 

    background-color: rgba(234, 224, 233, 0.848);
    border-radius: 10px; 
    width: 100%; 
    max-width: 800px;
    margin: 50px auto; 
    margin-top: 100px;
  }
  
  .donation-section h2 {
    font-size:48px; 
    font-weight: bold;
    color: black; 
    margin-bottom: 20px; 
    background: linear-gradient(90deg, #EFC71D, #EF20A9 59.99%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
  }
  
  /* Style du paragraphe */
  .donation-section p {
    font-size: 1rem; 
    color: #666; 
    margin-bottom: 30px; 
    max-width: 600px;
    margin-left: auto; 
    margin-right: auto; 
  }
  
  /* Conteneur pour centrer le btn */
  .buttons {
    display: flex; 
    justify-content: center;
    margin-top: 20px; 
  }
  
  /* Style du bouton de don */
  .don-button {
    padding: 6px 45px;  
    border-radius: 10px; 
    font-weight: 300px; 
    background-color: #EF20A9; 
    color: white; 
    text-transform: none; 
  }
  
  /* Effet de survol (hover) sur le bouton */
  .don-button:hover  {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
  }
  
  
  .don-button.mat-mdc-button:not(:disabled) {
    color: #ffffff; 
  }
  