.container{
    display: flex; 
    flex-direction:column; 
    justify-content: center; 
    align-items:start; 
    max-width: 80rem; 
    margin: 20px auto; 
    padding: 20px 150px;
    margin-bottom: 6rem;
}
h2{
    font-size: 45px;
    font-family: bold;
    color: #00456c;
}
h1{
    color:#2B5896; 
    text-align: center;
    border-radius: 16px 16px 16px 16px;
    background-color: #EFC71D ;
    font-family: "inter bold" ;
    font-size: 31px ;
    width: 30rem;
    
}
p{
    font-size: 16px;
}


a{
  color:  #EF20A9;  
}
strong{
    color: #00456c;
   
}