
<div class="container">
      <h2>Qui sommes-nous ?</h2>
   

      <p>Comme Un Rêve est une association d’intérêt générale, créée en 2021.</p>
      <p>Siège social : 1 Rue Auguste Renoir 95140 Garges-lès-Gonesse - 07 51 27 20 70</p>
      <p>SIRET :  897 408 506 00011</p>
      <p>Représentant légal : Godelive</p>
      <p>Hébergeur du site : HaiSoft SARL - 7 rue Vieille Levée - 45100 Orléans - <a href="http://www.haisoft.fr" target="_blank">www.haisoft.fr</a></p>
      <p>Site Internet : <a href="https://www.helloasso.com/associations/association-comme-un-reve" target="_blank">https://www.helloasso.com/associations/association-comme-un-reve</a></p>
      
     
      
      <h2>Utilisation des données personnelles collectées</h2>
      <p>Comme Un Rêve respecte la vie privée de ses utilisateurs et s'engage à ce que toutes les informations qu'elle recueille 
        permettant de les identifier soient considérées comme des informations 
        confidentielles. Aucune information personnelle n’est cédée à des tiers.</p>
      <p>Conformément aux dispositions de la loi du 6 janvier 1978 relative aux fichiers, 
        à l'informatique et aux libertés, les lecteurs et utilisateurs du site de Comme Un Rêve
         disposent d'un droit d'accès, de rectification et d'opposition aux données personnelles les 
         concernant.
        </p>
      <p>Ce droit s'exerce :</p>
      <ul>
        <li>par courrier à Comme Un Rêve – 1 Rue Auguste Renoir 95140 Garges-lès-Gonessee</li>
        <li>par email : <a href="mailto:commeunrve@gmail.comr">commeunrve.gmail.com</a></li>
      </ul>
      
     
      
      <h2>Formulaires de contact</h2>
      <p>Les messages électroniques comprenant vos coordonnées (nom, société, email, n° de téléphone) sont exploités par Comme Un Rêve uniquement pour répondre à vos demandes.</p>
      <p>Les informations sont conservées pendant un an.</p>
      
     
      
      <h2>Cookies</h2>
      <p>Un cookie est un fichier texte déposé sur votre ordinateur lors de la visite d'un site ou de la consultation d'une publicité. Il a pour but de collecter des informations 
        relatives à votre navigation et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette).
      </p>

      <p>Nous utilisons des cookies pour :</p>
      <ul> 
        <li>Enregistrer vos préférences de cookies</li>
        <li>Vous connecter et vous authentifier</li>
        <li>Recueillir et analyser des statistiques</li>
      </ul>
      <p>Utilisation de cookies tiers :</p>
      <p>Comme Un Rêve utilise des services de tiers pour connaître votre utilisation de ce site, ceci afin d’optimiser votre expérience utilisateur et d’afficher des publicités en dehors de ce site. Ces tierces parties peuvent également utiliser des cookies que nous ne maîtrisons pas.</p>
      <p>Nous utilisons les services de :</p>
      <ul>
        <li>Google Analytics</li>
        <li>HelloAsso</li>
      </ul>
      <p>Pour plus d’informations sur leur politique de confidentialité : <a href="https://www.helloasso.com/confidentialite" target="_blank">https://www.helloasso.com/confidentialite</a></p>
      
     
      
      <h2>Contenu embarqué depuis d'autres sites</h2>
      <p>Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.</p>
      <p>Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.</p>
    
</div> 