mat-toolbar {
  border-radius: 12px 12px 12px 12px ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EF20A9;
  width: 29rem;
  color: white;
  font-family: 'inter bold';
  padding: 1.7rem;
  margin: 20px 20px;
}
.bloc{
  display: flex;
  flex-direction: column;
  padding:1rem;
  border: 1px solid #EF20A9;
  border-radius: 8px;
  width: 55%;
  margin: 40px 20px;
}

.sectionChoisDon, .sectionDon {
  display: flex;
  justify-content: left;
  margin: 20px 20px;
}

mat-button-toggle-group {
  
  display: flex;
  gap: 10px;

  mat-button-toggle {
    border: 1px solid;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'inter semi bold';
    cursor: pointer;
    transition: all 0.3s ease;

   
  }
}

.free-amount {
  display: flex;
  align-items: center;
  margin-top: 20px;

  label {
    font-size: 18px;
    color: #2B5896;
    font-family: 'inter semi bold';
    margin-right: 10px;
    margin: 20px ;
  }

  input.form-control {
    width: 100px;
    padding: 5px;
    border: 1px solid #2B5896;
    border-radius: 4px;
    margin-right: 5px;

    &:focus {
      border-color:#2B5896;
      outline: none;
    }
  }

  span {
    color: #2B5896;
    font-size: 16px;
    font-family: 'inter semi bold';
  }
}








.mat-button-toggle-standalone:not([class*=mat-elevation-z]), .mat-button-toggle-group:not([class*=mat-elevation-z]){
  box-shadow: none;
}
.mat-pseudo-checkbox{
  display: none !important;
}
.mat-button-toggle .mat-pseudo-checkbox{
  margin-right: 0;
}