mat-form-field {
  margin: 0 10px;
}

.label {
  color: #2B5896;
  font-size:16px;
  font-family: 'inter semi bold';
}

.section_amount {
  padding-left: 5px;
}

.containerAmount {
  // padding-left: 20px;
}



/* Pour Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  /* Pour Chrome et Safari */
&::-webkit-inner-spin-button, 
&::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
}


mat-form-field {
  --mdc-outlined-text-field-outline-color: #2B5896;; /* Bordure par défaut */
  --mdc-outlined-text-field-hover-outline-color: #2B5896; /* Bordure en survol */
  --mdc-outlined-text-field-focused-outline-color: #0044cc; /* Bordure en focus */
}

@media (max-width: 768px) {
  .label {
    color: #2B5896;
    font-size:13px;
    font-family: 'inter semi bold';
  }

}
 