
<app-herosection [titreb]="'Comme un rêve'" [descriptionb]="'Le coeur de notre mission'" ></app-herosection>
<app-missions></app-missions>
<app-blog></app-blog>
<app-donation [titre]="'JE FAIS UN DON'" [text]="'En soutenant notre cause, vous contribuez à offrir des ressources vitales aux personnes dans le besoinVos dons permettent de financer des programmes essentiels pour améliorer la qualité de vie des veuves, orphelins et prisonniers.Chaque geste compte, et ensemble, nous pouvons faire la différence.'" [button]="'Faire un Don'"></app-donation>
