.agir-container {
    padding: 40px 130px;
    background-color: #f9f9f9;
    text-align: center;
  
    h1 {
      font-size: 2.5rem;
      color: #212121;
      margin-bottom: 50px;
      text-transform: uppercase;
    }
  
    .action-block {
      display: flex;
      justify-content: space-between;
    //   align-items: ;
      margin-bottom: 40px;
      padding: 20px;
      background-color: #fff;
      
  
      &:nth-child(odd) {
        flex-direction: row-reverse; /* Inverser la position image/texte pour les blocs impairs */
      }
  
      img {
        width: 40%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
      }
  
      .text-content {
        width: 55%;
        padding: 20px;
        text-align: left;
  
        h3 {
          font-size: 1.8rem;
          color: #333;
          margin-bottom: 15px;
          font-weight: bold;
          text-transform: uppercase;
        }
  
        p {
          font-size: 1rem;
          color: #666;
          line-height: 1.6;
          margin-bottom: 20px;
        }
  
        .btn-action {
          background-color: #007bff;
          color: #fff;
          padding: 10px 20px;
          font-size: 1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          text-transform: uppercase;
  
          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .agir-container {
      padding: 20px;
  
      .action-block {
        flex-direction: column;
  
        img {
          width: 100%;
          margin-bottom: 20px;
        }
  
        .text-content {
          width: 100%;
          padding: 0;
          text-align: center;
        }
      }
    }
  }
  