<div class="agir-container">
    <h1>AGIR AVEC NOUS</h1>
  
    <div class="action-block">
      <img src="./../../../assets/img/image_acceuil.png" alt="Faire un don">
      <div class="text-content">
        <h2>JE FAIS UN DON</h2>
        <p>
          L'association "Comme un Rêve" a vu le jour en 2015 avec l'ambition de transformer 
          les rêves en réalité pour les enfants et les familles les plus vulnérables. Inspirée 
          par l'esprit de solidarité et de partage, notre mission est de donner un sourire à ceux 
          qui en ont le plus besoin. <br>Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
          les rêves en réalité pour les enfants et les familles les plus vulnérables. Inspirée 
          par l'esprit de solidarité et de partage, notre mission est de donner un sourire à ceux 
          qui en ont le plus besoin. <br>Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
        </p>        
        <button class="btn-action" routerLink="/donation-forms">Faire un don</button>
      </div>
    </div>
  
    <div class="action-block">
      <img src="./../../../assets/img/image_acceuil.png" alt="Devenir partenaire">
      <div class="text-content">
        <h2>DEVENIR PARTENAIRE</h2>
        <p>
          les rêves en réalité pour les enfants et les familles les plus vulnérables. Inspirée 
          par l'esprit de solidarité et de partage, notre mission est de donner un sourire à ceux 
          qui en ont le plus besoin. <br>Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
          les rêves en réalité pour les enfants et les familles les plus vulnérables. Inspirée 
          par l'esprit de solidarité et de partage, notre mission est de donner un sourire à ceux 
          qui en ont le plus besoin. <br>Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
        </p>
        <button class="btn-action">Devenir partenaire</button>
      </div>
    </div>
  
    <div class="action-block">
      <img src="./../../../assets/img/image_acceuil.png" alt="Devenir bénévole">
      <div class="text-content">
        <h2>DEVENIR BÉNÉVOLE</h2>
        <p>
          les rêves en réalité pour les enfants et les familles les plus vulnérables. Inspirée 
          par l'esprit de solidarité et de partage, notre mission est de donner un sourire à ceux 
          qui en ont le plus besoin. <br>Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
          les rêves en réalité pour les enfants et les familles les plus vulnérables. Inspirée 
          par l'esprit de solidarité et de partage, notre mission est de donner un sourire à ceux 
          qui en ont le plus besoin. <br>Depuis notre création, nous avons réussi à toucher des milliers
           de vies grâce à des actions concrètes sur le terrain et des partenariats solides avec des 
           acteurs locaux.
        </p>
        <button class="btn-action">Devenir bénévole</button>
      </div>
    </div>
  </div>
  
