<footer class="footer">
    <div class="container">
      
      <a routerLink="/">
      <div class="logo">
        <img src="assets/img/assos.png" alt="Logo" />
      </div>
      </a>
      
      <div class="footer-liens">
        <ul>
          <li><a routerLink="/qui-sommes-nous">Qui sommes-nous?</a></li>
          <li><a routerLink="/nos-actions">Nos Actions</a></li>
          <li><a routerLink="/agir-avec-nous">Agir avec nous</a></li>
          <li><a routerLink="/mentions-legales">Mentions légales</a></li>
          <li><a routerLink="/Politique-De-Confidentialite">Politique de confidentialité</a></li>
        </ul>
      </div>
  
      
      <div class="buttons">
        <button mat-button [color]="'white'" class="don-button" routerLink="/donation-forms">Faire un Don</button>
        <button mat-button class="don-button-alt">Devenir bénévole</button>
      </div>
    </div>
  
   
    <div>
        <a href="https://www.facebook.com" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
    </div>    
    <div>
      <p>© 2024 Comme Un Rêve. Tous droits réservés.</p>
    </div>
  </footer>
  
 
  